<!-- Static navbar -->
<!-- <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="navbar-header">
  </div>
  <div>(c) Doug Stockalper</div>
  <div class="navbar-collapse collapse"> -->

 <div class="footer">
 	<div class="container">
 		<p class="text-muted">Created by Doug Stockalper</p>
 		<p class="text-muted">General Assembly - Web Development Immersive 2014</p>
 	</div>
 </div>