<div class="jumbotron">
	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>PlaterRater</h1>
				<p><b>Promote safe and courteous driving by reviewing fellow motorists - via their license plate number</b></p>
				
			</div>

		</div>
		
	</div>
</div>