<div class="jumbotron">
	
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1>PlaterRater</h1>
				<p>Promote safe and courteous driving by reviewing fellow motorists - via their license plate number</p>
				
			</div>
			<div class="col-md-7">
				<img class="jumbo_img" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQz_xJJap_qR4FQ4b1Qxo6LVPc8vjefaBTSULCVuW1cmu5VQkFyyQ">
				
			</div>

		</div>
		
	</div>
</div>