<!-- 

	<div ng-controller="myController">
		<section ng-controller="myController as ctrl">

			<ul>
				<li ng-repeat="i in ctrl.test">
					{{i.name}}
				</li>
			</ul>

			<br>

			<ul>
				<li ng-repeat="review in ctrl.reviews">
					{{review.id}} {{review.agg_speeding}}
				</li>
			</ul>
		</section>
	</div> -->
<br><br>
<section ng-controller="myController as ctrl">
	<div>
		<table class="table table-condensed" border="3">
			<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>	
				<th colspan="7" class="reviewTableCategory aggressive">Aggressive</th>
				<th colspan="7" class="reviewTableCategory inattentive">Inattentive</th>
				<th colspan="2" class="reviewTableCategory alert">Alert</th>
			</tr>
			<tr>
				<th class="reviewTableHeader">Date</th>
				<th class="reviewTableHeader">Time</th>
				<th class="reviewTableHeader">Location</th>
				<th class="reviewTableHeader aggressive">Sp</th>
				<th class="reviewTableHeader aggressive">Wv</th>
				<th class="reviewTableHeader aggressive">TG</th>
				<th class="reviewTableHeader aggressive">Ct</th>
				<th class="reviewTableHeader aggressive">Lt</th>
				<th class="reviewTableHeader aggressive">RR</th>
				<th class="reviewTableHeader aggressive">OA</th>

				<th class="reviewTableHeader inattentive">Br</th>
				<th class="reviewTableHeader inattentive">Dr</th>
				<th class="reviewTableHeader inattentive">In</th>
				<th class="reviewTableHeader inattentive">Pd</th>
				<th class="reviewTableHeader inattentive">Ph</th>
				<th class="reviewTableHeader inattentive">DD</th>
				<th class="reviewTableHeader inattentive">OI</th>
				<th class="reviewTableHeader alert">Sf</th>
				<th class="reviewTableHeader alert">Cr</th>
			</tr>	
			</thead>
			<tbody>
	

			<tr ng-repeat="review in ctrl.reviews | orderBy: '-created_at' | limitTo: 10">
				<td class="reviewTableBody">{{ review.created_at | date: 'shortDate'}}</td>
				<td class="reviewTableBody">{{ review.created_at | date: 'HH:mm'}}</td>
				<td class="reviewTableBody"></td>
				<td class="reviewTableBody aggressive">{{review.agg_speeding==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_weaving==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_tailgating==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_cutting==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_light==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_rage==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.agg_other==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_braking==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_drifting==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_intersection==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_pedestrian==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_phone==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_drunk==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.ina_other==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody alert">{{review.ale_safe==='1' ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody alert">{{review.ale_courteous==='1' ? "&#x2713;" : ""}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		            <th>Legend</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>Sp: &nbsp; &nbsp; Speeding</td>
		            <td>Br: &nbsp; &nbsp; Braking</td>
		            <td>Sf: &nbsp; &nbsp; Safe</td>
		        </tr>
		        <tr>
		        	<td>Wv: &nbsp; &nbsp; Weaving</td>
		            <td>Dr: &nbsp; &nbsp; Drifting</td>
		            <td>Cr: &nbsp; &nbsp; Courteous</td>
		        </tr>
		        <tr>
		        	<td>TG: &nbsp; &nbsp; Tailgating</td>
		            <td>In: &nbsp; &nbsp; Intersection Blocking</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>Ct: &nbsp; &nbsp; Cutting</td>
		            <td>Pd: &nbsp; &nbsp; Pedestrian Encounter</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>Lt: &nbsp; &nbsp; Running Light/Stop</td>
		            <td>Ph: &nbsp; &nbsp; Phone</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>RR: &nbsp; &nbsp; Road Rage</td>
		            <td>DD: &nbsp; &nbsp; Drunk Driving</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>OA: &nbsp; &nbsp; Other Aggressive</td>
		            <td>OI: &nbsp; &nbsp; Other Inattentive</td>
		            <td></td>
		        </tr>

		    </tbody>
		</table>


	</div>

</section>

